<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Crisis Connect</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='img/favicon-2.png') }}"
      rel="icon"
    />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link
      href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Libraries CSS Files -->
    <link
      href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}"
      rel="stylesheet"
    />
    <!-- Main Stylesheet File -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!--==========================
  Header
  ============================-->
    <header id="header">
      <div id="topbar">
        <div class="container">
          <div class="social-links">
            <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a> -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="logo float-left">
          <!-- Uncomment below if you prefer to use an image logo -->
           <h1 class="text-light">
            <a href="#intro" class="scrollto"><span>Crisis Connect</span></a>
          </h1>
          <!--
          <a href="#header" class="scrollto"
            ><img
              style="margin-top: -5px; min-height: 50px;"
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt=""
              class="img-fluid"
          /></a>
          -->
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="heatmaps.html">Heatmaps</a></li>
            <li><a href="satellite.html">Satellite</a></li>
            <li><a href="predicts.html">Predict</a></li>
            <li><a href="donation.html">Donation</a></li>
          </ul>
        </nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
  <div class="alert-container" style="margin-top: 100px;">
    {% if unsafe_locations %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ alert_message }}</strong><br>
            The following locations are currently unsafe:
            <ul>
                {% for location in unsafe_locations %}
                    <li>{{ location }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="alert alert-success" role="alert">
            {{ alert_message }}
        </div>
    {% endif %}
    
  </div>
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-5 intro-info order-md-first order-last" style="background-color: transparent;padding-right:50px;">
          <h2 style="color:#00BFFF;">Crisis Connect</h2>
          <h3 style="padding-top:30px;padding-left:10px;line-height: 40px;">It's concise, memorable, and conveys the idea of protection and vigilance in flood detection using advanced technology.</h3>
          <br />
          <div style="padding-left:10px;">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
  
        <div class="col-md-7 intro-img order-md-last order-first" style="background-color: transparent;">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 100%; max-width: 800px; margin: auto;">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ url_for('static', filename='img/flood1.jpg') }}" class="d-block w-100" alt="Flood Detection Image 1" style="height: 500px; object-fit: cover;">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/flood2.jpg') }}" class="d-block w-100" alt="Flood Detection Image 2" style="height: 500px; object-fit: cover;">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/flood1.jpg') }}" class="d-block w-100" alt="Flood Detection Image 3" style="height: 500px; object-fit: cover;">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
      <!-- #about -->

      <!--==========================
      Services Section
    ============================-->
      <section id="services" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3>Services</h3>
            <p>
              Our website offers many services to help people plan and prepare for floods,
              and help the government reallocate resources to those most in need.
            </p>
          </header>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 wow bounceInUp"
              data-wow-duration="1.4s"
            >
              <div class="box" style="height: 320px;">
                <div class="icon" style="background: #fceef3;">
                  <i
                    class="ion-ios-analytics-outline"
                    style="color: #ff689b;"
                  ></i>
                </div>
                <h4 class="title"><a href="plots.html">View Plots</a></h4>
                <p class="description">
                  On our website, you can view plots showing flood prediction,
                  precipitation analysis, and damage analysis.
                </p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-3 wow bounceInUp"
              data-wow-duration="1.4s"
            >
              <div class="box" style="height: 320px;">
                <div class="icon" style="background: #fff0da;">
                  <i
                    class="ion-ios-bookmarks-outline"
                    style="color: #e98e06;"
                  ></i>
                </div>
                <h4 class="title"><a href="heatmaps.html">View Heatmaps</a></h4>
                <p class="description">
                  Our website also displays interactive heatmaps sharing various realtime data on floods. 
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 wow bounceInUp"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box" style="height: 320px;">
                <div class="icon" style="background: #eafde7;">
                  <i
                    class="ion-ios-speedometer-outline"
                    style="color: #41cf2e;"
                  ></i>
                </div>
                <h4 class="title"><a href="satellite.html">Satellite Images</a></h4>
                <p class="description">
                  We analyzed data from NASA's GPM Project, and displayed georeferenced plots for sevaral cities.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 wow bounceInUp"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box" style="height: 320px;">
                <div class="icon" style="background: #e6fdfc;">
                  <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
                </div>
                <h4 class="title"><a href="predicts.html">Predict Floods</a></h4>
                <p class="description">
                  Lastly, our website allows you to predict floods in realtime through our machine learning algorithm.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #services -->

      <!--==========================
      Why Us Section
    ============================-->
      <section id="why-us" class="wow fadeIn">
        <div class="container">
          <div class="row counters">
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">25</span>
              <p>Percent of deaths from natural disasters attributed to floods</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">2.3</span>
              <p>Billion people affected by floods in the last 2 decades</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">40</span>
              <p>Billion dollars in damages worldwide annually</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">1</span>
              <p>Million people were displaced in India in 2019 alone.</p>
            </div>
          </div>
        </div>
      </section>

    

      <!--==========================
      Team Section
    ============================-->
      <section id="team" class="section-bg">
        <div class="container">
          <div class="section-header">
            <h3>Why its Important</h3>
            <p>
              <!-- Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque -->
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 wow fadeInUp">
              <div class="member">
                <img
                  src="{{ url_for('static', filename='img/7.png') }}"
                  class="img-fluid"
                  alt=""
                  width="500"
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>First Aid</h4>
                    <span>Helps to Provide First AID for Injured Peoples</span>
                    <div class="social">
                      <a
                        href="https://www.linkedin.com/in//?originalSubdomain=in"
                        ><i class="fa fa-linkedin"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="member">
                <img
                  src="{{ url_for('static', filename='img/8.png') }}"
                  class="img-fluid"
                  alt=""
                  width="500"
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Rescue</h4>
                    <span>Helps to Plan Rescue Operations</span>
                    <div class="social">
                      <a href="https://www.linkedin.com/in/"
                        ><i class="fa fa-linkedin"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="member">
                <img
                  src="{{ url_for('static', filename='img/9.png') }}"
                  class="img-fluid"
                  alt=""
                  width="500"
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Food Supply</h4>
                    <span>Help to Predict Food Supply Demand</span>
                    <div class="social">
                      <a
                        href="https://www.linkedin.com/in/?originalSubdomain=ca"
                        ><i class="fa fa-linkedin"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #team -->

    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer" class="section-bg" style="background-color: #f5f8fd;">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-sm-11">
                  <div class="footer-info">
                    <!-- <h3>Crisis Connect</h3> -->
                    <a href="index.html" class="scrollto"
                      ><img
                        style="margin-top: 0px; max-height: 100px;"
                        src="{{ url_for('static', filename='img/logo.png') }}"
                        alt=""
                        class="img-fluid"
                    /></a>
                    <p style="padding-top:20px;">
                      Crisis Connect is a tool that uses Machine Learning and Data
                      Visualization to show you plots and heatmaps with
                      realtime flood information, as well locational predictions about 
                      future floods and potential damage.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form">
                <h4>Send us a message</h4>

                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 4 chars"
                    />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      data-rule="email"
                      data-msg="Please enter a valid email"
                    />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Subject"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 8 chars of subject"
                    />
                    <div class="validation"></div>
                  </div>

                  <div id="sendmessage">
                    Your message has been sent. Thank you!
                  </div>
                  <div id="errormessage"></div>

                  <div class="text-center">
                    <button type="submit" title="Send Message">
                      Send Message
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
